# Variables de Base de Datos
MARIADB_PASSWORD=tu_contraseña_mariadb
POSTGRES_PASSWORD=tu_contraseña_postgres
MONGO_PASSWORD=tu_contraseña_mongodb

# Variables de Authentik
AUTHENTIK_DB_USER=nodo_user
AUTHENTIK_DB_NAME=authentik_db
AUTHENTIK_SECRET_KEY=nodo_2026_auth_secret_key_stable
