# ==============================================================================
# ARCHIVO DE CONFIGURACIÓN DE ENTORNO (.env)
# ==============================================================================
na
# --- Variables de Base de Datos (MariaDB) ---

MARIADB_PASSWORD=tu_password_mariadb

# --- Variables de Base de Datos (PostgreSQL) ---

POSTGRES_PASSWORD=tu_password_postgres
POSTGRES_USER=tu_usuario_postgres
POSTGRES_DB=tu_nombre_db_postgres

# --- Variables de Base de Datos (MongoDB) ---
# El Root es para gestión, evita usarlo en las aplicaciones

MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=tu_password_root_mongodb

# --- Variables de Aplicación (Authentik) ---

AUTHENTIK_DB_USER=tu_usuario_postgres
AUTHENTIK_DB_NAME=authentik_db

# Genera una clave segura: openssl rand -base64 32

AUTHENTIK_SECRET_KEY=generar_una_clave_larga_y_aleatoria_aqui
