// Script de inicialización de MongoDB
// Ya no necesitamos db.auth() aquí porque el contenedor lo ejecuta con privilegios de root al arrancar.

{% for db in mongo_databases %}
// Cambiamos a la base de datos específica
db = db.getSiblingDB('{{ db.name }}');

// Creamos el usuario para la aplicación en esta base de datos
db.createUser({
  user: '{{ db_app_user }}',
  pwd: '{{ db_app_password }}',
  roles: [ { role: 'readWrite', db: '{{ db.name }}' } ]
});
{% endfor %}
