-- Crear usuario si no existe
CREATE USER IF NOT EXISTS '{{ db_app_user }}'@'%' IDENTIFIED BY '{{ db_app_password }}';

-- Crear bases de datos si no existen
{% for db in mariadb_databases %}
CREATE DATABASE IF NOT EXISTS `{{ db.name }}`;

-- REFRESCAR PRIVILEGIOS: Esto se ejecuta siempre y asegura que el usuario tenga acceso
GRANT ALL PRIVILEGES ON `{{ db.name }}`.* TO '{{ db_app_user }}'@'%';
{% endfor %}

-- Permisos globales y aplicar cambios
GRANT ALL PRIVILEGES ON *.* TO '{{ db_app_user }}'@'%' WITH GRANT OPTION;
FLUSH PRIVILEGES;
